* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
}

body {
  background: black;

}

canvas {
  background: black;
  filter: blur(20px) contrast(40);
  position: fixed;
  z-index: -1;
  top: 0;
}


